/* リキッドレイアウト対応 */
@use 'src/sass/_function.scss' as *;
@use 'src/sass/_setting.scss' as *;
@use 'src/sass/_breakpoints.scss' as *;

@if $startFrom == sp {
	//スマホファースト
	html {
		//~375px
		@media (max-width: 375px) {
			font-size: vw(375, 16);
		}

		//375px~767px
		@include mq('md') {
			font-size: vw(strip-unit($inner), 16);
		}

		//inner~max-screen
		@media (min-width: $inner) {
			font-size: 16px;
		}
	}
} @else {
	//PCファースト
	html {
		@media (max-width: $inner) {
			font-size: vw(strip-unit($inner), 16);
		}

		@include mq('md') {
			font-size: 16px;
		}

		//~375px
		@media (max-width: 375px) {
			font-size: vw(375, 16);
		}
	}
}

@if $startFrom == sp {
	.inner {
		width: 100%;
		padding-right: $padding-sp;
		padding-left: $padding-sp;
		margin-right: auto;
		margin-left: auto;
		@include mq('md') {
			max-width: $inner + strip-unit($padding-pc) * 2 !important;
			padding-right: $padding-pc;
			padding-left: $padding-pc;
		}
	}
} @else {
	.inner {
		max-width: $inner + strip-unit($padding-pc) * 2 !important;
		padding-right: $padding-pc;
		padding-left: $padding-pc;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		@include mq('md') {
			padding-right: $padding-sp;
			padding-left: $padding-sp;
		}
	}
}

.text {
	font-size: rem(16);
	font-family: $jp-font-family1;
	font-weight: $regular;
	line-height: calc(24 / 16);
	color: $dark-green;
}

.title {
	display: block;
}
.title__text {
	font-size: rem(32);
	font-weight: $regular;
	font-family: $en-font-family1;
	line-height: calc(40 / 32);
	@include mq(md) {
		font-size: rem(40);
		line-height: 1;
	}
}
.title__text::first-letter {
	text-transform: capitalize;
	color: $green;
}

.title--center {
	text-align: center;
}

.title__text--big {
	font-size: rem(80);
	line-height: 1;
	@include mq(md) {
		font-size: rem(80);
	}
}
.title__text--white {
	@include mq(md) {
		color: $white;
	}
}
.title__text--white::first-letter {
	@include mq(md) {
		color: $white;
	}
}
.title__text--green {
}
.title__text--white {
	@include mq(md) {
		color: $white;
	}
}

.title__sub-text {
	font-family: $jp-font-family1;
	font-weight: $regular;
	font-size: rem(12);
	line-height: calc(18 / 12);
	color: $green;
	margin-top: rem(4);
	@include mq(md) {
		margin-top: rem(7);
	}
}
.title__sub-text--white {
	@include mq(md) {
		color: $white;
	}
}

.title__sub-text--layout {
	margin-top: rem(-7);
	@include mq(md) {
		margin-top: rem(-7);
	}
}

/*//////////////////////////////////////
Contactの一部分
/////////////////////////////////////*/
.title__emphasis {
	font-size: rem(14);
	font-family: $jp-font-family1;
	font-weight: $regular;
	color: $green;
	line-height: calc(18 / 14);
	margin-top: rem(10);
	@include mq(md) {
		margin-top: rem(8);
	}
}
.title__button {
	margin-top: rem(40);
	text-align: center;
}
/*//////////////////////////////////////
終了
/////////////////////////////////////*/

#pageTop {
	position: fixed;
	z-index: 9999;
	right: rem(15);
	bottom: rem(15);
	@include mq(md) {
		right: rem(20);
		bottom: rem(20);
	}
}

#pageTop a {
	content: '';
	border: rem(1) solid $green;
	border-radius: 50%;
	width: rem(48);
	height: rem(48);
	color: $green;
	background-color: $white;
	opacity: 0.5;
	display: flex;
	justify-content: center;
	align-items: center;
	@include mq(md) {
		width: rem(80);
		height: rem(80);
	}
}
#pageTop a::after {
	content: '';
	display: inline-block;
	width: rem(6);
	height: rem(28);
	transform: skewY(-45deg);
	border-right: rem(1) solid $green;
	border-top: rem(1) solid $green;
	margin-right: rem(5);
	margin-top: rem(10);
	@include mq(md) {
		height: rem(40);
	}
}
/*//////////////////////////////////////
アニメーション
/////////////////////////////////////*/
/*リンクを右下に固定*/
#pageTop {
	position: fixed;
	right: 10px;
	z-index: 2;
	/*はじめは非表示*/
	opacity: 0;
	transform: translateY(100px);
}

/*　上に上がる動き　*/

#pageTop.UpMove {
	animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/*　下に下がる動き　*/

#pageTop.DownMove {
	animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 1;
		transform: translateY(100px);
	}
}
