---
import { Image } from 'astro:assets';
import coral from '../assets/coral-reef.png';
import Button from '@/components/Button.astro';
import { buttonUrl } from '@/data/buttonUrl';

const { url } = buttonUrl[1];
---

<section class='aboutUs top-aboutUs'>
	<div class='aboutUs__inner inner'>
		<div class='aboutUs__title title title--center'>
			<p class='title__text'>about&nbsp;us</p>
			<h2 class='title__sub-text'>私たちについて</h2>
		</div>
		<div class='aboutUs__images'>
			<figure class='aboutUs__image-sky'>
				<img
					src='src/assets/about-pc_1.jpg'
					alt='青空の背景の中、屋根の上に紅色のシーダーがこちらを見ている様子'
				/>
			</figure>
			<figure class='aboutUs__image-sea'>
				<img
					src='src/assets/about-pc_2.jpg'
					alt='透き通った海の中を２匹の黄色い魚が泳いでいる様子'
				/>
			</figure>
		</div>
		<div class='aboutUs__container'>
			<div class='aboutUs__title-block'>
				<h2 class='aboutUs__sub-title'>
					Dive&nbsp;into<br />the&nbsp;Ocean
				</h2>
			</div>
			<div class='aboutUs__meta'>
				<p class='aboutUs__text text'>
					ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br
					/> ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
				</p>
				<div class='aboutUs__button'>
					<Button url={url} />
				</div>
			</div>
		</div>
	</div>
	<figure class='aboutUs__decoration aboutUs__decoration--md-none'>
		<Image src={coral} format='avif' alt='珊瑚礁の画像' />
	</figure>
</section>

<style lang='scss'>
	@use 'src/sass/_function.scss' as *;
	@use 'src/sass/_breakpoints.scss' as *;
	@use 'src/sass/_setting.scss' as *;

	.top-aboutUs {
		margin-top: rem(85);
		@include mq(md) {
			position: relative;
			margin-top: rem(142);
		}
	}
	.aboutUs__inner {
		max-width: rem(600);
		width: 100%;
		position: relative;
	}
	.aboutUs__images {
		margin-top: rem(29);
		@include mq(md) {
			margin-top: rem(42);
		}
	}
	.aboutUs__image-sky {
		position: relative;
		z-index: 2;
		width: calc((132 / 345) * 100%);
		@include mq(md) {
			width: calc((399 / 1080) * 100%);
		}
	}
	.aboutUs__image-sky img {
		aspect-ratio: 399 / 606;
		object-fit: cover;
		width: 100%;
		max-width: rem(399);
	}

	.aboutUs__image-sea {
		position: relative;
		z-index: -1;
		width: calc((281 / 345) * 100%);
		margin-top: -49%;
		margin-left: auto;
		@include mq(md) {
			width: calc((880 / 1080) * 100%);
		}
	}
	.aboutUs__image-sea img {
		aspect-ratio: 880 /581;
		object-fit: cover;
		width: 100%;
		max-width: rem(880);
	}

	.aboutUs__container {
		display: flex;
		flex-direction: column;
		margin-top: rem(40);

		@include mq(md) {
			margin-top: initial;
			flex-direction: row;
			position: absolute;
			top: calc((265 / 661) * 100%);
			right: calc((63 / 1080) * 100%);
			max-width: rem(840);
			width: 100%;
			z-index: 3;
		}
	}

	.aboutUs__title-block {
		@include mq(md) {
			max-width: calc((400 / 840) * 100%);
			width: 100%;
		}
	}

	.aboutUs__sub-title {
		font-size: rem(40);
		font-family: $en-font-family1;
		font-weight: $regular;
		line-height: calc(40 / 40);
		color: $green;
		@include mq(md) {
			font-size: rem(80);
			color: $white;
			line-height: calc(100 / 80);
		}
	}

	.aboutUs__meta {
		margin-top: rem(16);
		@include mq(md) {
			margin-top: initial;
			max-width: calc((400 / 840) * 100%);
			width: 100%;
			margin-left: rem(40);
		}
	}

	.aboutUs__text {
		@include mq(md) {
			color: $white;
		}
	}

	.aboutUs__button {
		margin-top: rem(16);
		text-align: center;
		@include mq(md) {
			margin-top: rem(40);
		}
	}

	.aboutUs__decoration {
		display: inline-block;
		position: absolute;
		right: calc(50% - min(47.9166vw, 39.8125rem));
		bottom: rem(-90);
		width: rem(194);
		height: rem(181);
	}

	.aboutUs__decoration--md-none {
		display: none;
		@include mq('md') {
			display: block;
		}
	}
	.aboutUs__decoration img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
</style>
