---

---

<section class='aboutUs top-aboutUs'>
	<div class='aboutUs__inner inner'>
		<div class='aboutUs__title title title--center'>
			<p class='title__text'>about&nbsp;us</p>
			<h2 class='title__sub-text'>私たちについて</h2>
		</div>
		<div class='aboutUs__images'>
			<figure class='aboutUs__image-sky'>
				<img
					src='assets/about-pc_1.jpg'
					alt='青空の背景の中、屋根の上に紅色のシーダーがこちらを見ている様子'
				/>
			</figure>
			<figure class='aboutUs__image-sea'>
				<img
					src='assets/about-pc_2.jpg'
					alt='透き通った海の中を２匹の黄色い魚が泳いでいる様子'
				/>
			</figure>
		</div>
		<div class='aboutUs__container'>
			<div class='aboutUs__title-block'>
				<h2 class='aboutUs__sub-title'>
					Dive&nbsp;into<br />the&nbsp;Ocean
				</h2>
			</div>
			<div class='aboutUs__meta'>
				<p class='aboutUs__text text'>
					ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br
					/> ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
				</p>
				<div class='aboutUs__button'>
					<button
						class='button'
						onclick="location.href='aboutUs.html'"
						>View&nbsp;more<span class='button__arrow'
						></span></button
					>
				</div>
			</div>
		</div>
	</div>
	<figure class='aboutUs__decoration aboutUs__decoration--md-none'>
		<img src='assets/coral-reef.png' alt='珊瑚礁の画像' />
	</figure>
</section>
