---

---

<section class='blog top-blog'>
	<div class='blog__bgImage blog__bgImage--md-none'>
		<img src='assets/blog-bg.jpg' alt='海の中イメージした様子' />
	</div>
	<figure class='blog__decoration blog__decoration--md-none'>
		<img src='assets/fishes-white.png' alt='魚の群れの様子' />
	</figure>
	<div class='blog__inner inner'>
		<div class='blog__title title title--center'>
			<p class='title__text title__text--white'>blog</p>
			<h2 class='title__sub-text title__sub-text--white'>ブログ</h2>
		</div>
		<div class='blog__container'>
			<div class='blog__cards blog-cards'>
				<article class='blog-cards__item card'>
					<a href='./blog-detail.html'>
						<figure class='card__image'>
							<img
								src='assets/card_1.jpg'
								alt='透き通った海の中でピンク色の大きな珊瑚礁が輝いている様子'
							/>
						</figure>
						<div class='card__body'>
							<div class='card__header'>
								<time datetime='2023-11-17' class='card__date'
									>2023/11/17</time
								>
								<h3 class='card__title'>ライセンス取得</h3>
							</div>
							<div class='card__meta'>
								<p class='card__text text'>
									ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br
									/>ここにテキストが入ります。ここにテキストが入ります。ここにテキスト
								</p>
							</div>
						</div>
					</a>
				</article>
				<article class='cards__item card'>
					<a href='./blog-detail.html'>
						<figure class='card__image'>
							<img
								src='assets/card_2.jpg'
								alt='透き通った海の中で大きなウミガメが気持ち良さそうに泳いでいる様子'
							/>
						</figure>
						<div class='card__body'>
							<div class='card__header'>
								<time datetime='2023-11-17' class='card__date'
									>2023/11/17</time
								>
								<h3 class='card__title'>ウミガメと泳ぐ</h3>
							</div>
							<div class='card__meta'>
								<p class='card__text text'>
									ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br
									/> ここにテキストが入ります。ここにテキストが入ります。ここにテキスト
								</p>
							</div>
						</div>
					</a>
				</article>
				<article class='cards__item card'>
					<a href='./blog-detail.html'>
						<figure class='card__image'>
							<img
								src='assets/card_3.jpg'
								alt='映画ファインディング・ニモで知られるカクレクマノミが珊瑚礁の中から顔をのぞかせている様子'
							/>
						</figure>
						<div class='card__body'>
							<div class='card__header'>
								<time datetime='2023-11-17' class='card__date'
									>2023/11/17</time
								>
								<h3 class='card__title'>カクレクマノミ</h3>
							</div>
							<div class='card__meta'>
								<p class='card__text text'>
									ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br
									/>ここにテキストが入ります。ここにテキストが入ります。ここにテキスト
								</p>
							</div>
						</div>
					</a>
				</article>
			</div>
			<div class='blog__button'>
				<button class='button' onclick="location.href='blog.html'"
					>View&nbsp;more<span class='button__arrow'></span></button
				>
			</div>
		</div>
	</div>
</section>
