---
import Button from '@/components/Button.astro';
import SwiperCard from '@/components/SwiperCard.astro';
import { buttonUrl } from '@/data/buttonUrl';

const { url } = buttonUrl[0];
---

<section class='campaign top-campaign'>
	<div class='campaign__inner inner'>
		<div class='campaign__title title title--center'>
			<p class='title__text'>campaign</p>
			<h2 class='title__sub-text'>キャンペーン</h2>
		</div>
		<SwiperCard />
		<!-- 前後の矢印 -->
		<div class='slider__button'>
			<div class='slider__nextButton slider__nextButton--md-none'></div>
			<div class='slider__prevButton slider__prevButton--md-none'></div>
		</div>
		<div class='campaign__button'>
			<Button url={url} />
		</div>
	</div>
</section>

<style lang='scss'>
	@use 'src/sass/_function.scss' as *;
	@use 'src/sass/_breakpoints.scss' as *;
	@use 'src/sass/_setting.scss' as *;

	.top-campaign {
		margin-top: rem(40);
		background-color: $white;

		@include mq(md) {
			margin-top: rem(122);
		}
	}
	.campaign__inner {
		position: relative;
	}

	.campaign__button {
		margin-top: rem(30);
		text-align: center;

		@include mq(md) {
			margin-top: rem(69);
		}
	}
</style>
