---

---

<section class='campaign top-campaign'>
	<div class='campaign__inner inner'>
		<div class='campaign__title title title--center'>
			<p class='title__text'>campaign</p>
			<h2 class='title__sub-text'>キャンペーン</h2>
		</div>
		<!-- Swiper -->
		<div class='swiper campaign__slider slider js-campaign-slider'>
			<div class='swiper-wrapper slider__items'>
				<article class='swiper-slide slider__item'>
					<figure class='slider__image'>
						<img
							src='assets/slider_2.jpg'
							alt='さまざまな色をした魚が群れで泳いでいる様子'
						/>
					</figure>
					<div class='slider__body'>
						<p class='slider__label'>体験ダイビング</p>
						<h3 class='slider__title'>貸切体験ダイビング</h3>
						<div class='slider__meta'>
							<h4 class='slider__sub-title'>
								全部コミコミ(お一人様)
							</h4>
							<div class='slider__price-unit'>
								<p class='slider__old-price'>
									&#165;24&#44;000
								</p>
								<p class='slider__new-price'>
									&#165;18&#44;000
								</p>
							</div>
						</div>
					</div>
				</article>
				<article class='swiper-slide slider__item'>
					<figure class='slider__image'>
						<img
							src='assets/slider_3.jpg'
							alt='さまざまな色をした魚が群れで泳いでいる様子'
						/>
					</figure>
					<div class='slider__body'>
						<p class='slider__label'>体験ダイビング</p>
						<h3 class='slider__title'>ナイトダイビング</h3>
						<div class='slider__meta'>
							<h4 class='slider__sub-title'>
								全部コミコミ(お一人様)
							</h4>
							<div class='slider__price-unit'>
								<p class='slider__old-price'>&#165;10,000</p>
								<p class='slider__new-price'>&#165;8,000</p>
							</div>
						</div>
					</div>
				</article>
				<article class='swiper-slide slider__item'>
					<figure class='slider__image'>
						<img
							src='assets/slider_4.jpg'
							alt='さまざまな色をした魚が群れで泳いでいる様子'
						/>
					</figure>
					<div class='slider__body'>
						<p class='slider__label'>ファンダイビング</p>
						<h3 class='slider__title'>貸切ファンダイビング</h3>
						<div class='slider__meta'>
							<h4 class='slider__sub-title'>
								全部コミコミ(お一人様)
							</h4>
							<div class='slider__price-unit'>
								<p class='slider__old-price'>
									&#165;20&#44;000
								</p>
								<p class='slider__new-price'>
									&#165;16&#44;000
								</p>
							</div>
						</div>
					</div>
				</article>
				<article class='swiper-slide slider__item'>
					<figure class='slider__image'>
						<img
							src='assets/slider_1.jpg'
							alt='さまざまな色をした魚が群れで泳いでいる様子'
						/>
					</figure>
					<div class='slider__body'>
						<p class='slider__label'>ライセンス講習</p>
						<h3 class='slider__title'>ライセンス取得</h3>
						<div class='slider__meta'>
							<h4 class='slider__sub-title'>
								全部コミコミ(お一人様)
							</h4>
							<div class='slider__price-unit'>
								<p class='slider__old-price'>
									&#165;56&#44;000
								</p>
								<p class='slider__new-price'>
									&#165;46&#44;000
								</p>
							</div>
						</div>
					</div>
				</article>
				<article class='swiper-slide slider__item'>
					<figure class='slider__image'>
						<img
							src='assets/slider_2.jpg'
							alt='さまざまな色をした魚が群れで泳いでいる様子'
						/>
					</figure>
					<div class='slider__body'>
						<p class='slider__label'>体験ダイビング</p>
						<h3 class='slider__title'>貸切体験ダイビング</h3>
						<div class='slider__meta'>
							<h4 class='slider__sub-title'>
								全部コミコミ(お一人様)
							</h4>
							<div class='slider__price-unit'>
								<p class='slider__old-price'>
									&#165;24&#44;000
								</p>
								<p class='slider__new-price'>
									&#165;18&#44;000
								</p>
							</div>
						</div>
					</div>
				</article>
				<article class='swiper-slide slider__item'>
					<figure class='slider__image'>
						<img
							src='assets/slider_3.jpg'
							alt='さまざまな色をした魚が群れで泳いでいる様子'
						/>
					</figure>
					<div class='slider__body'>
						<p class='slider__label'>体験ダイビング</p>
						<h3 class='slider__title'>ナイトダイビング</h3>
						<div class='slider__meta'>
							<h4 class='slider__sub-title'>
								全部コミコミ(お一人様)
							</h4>
							<div class='slider__price-unit'>
								<p class='slider__old-price'>&#165;10,000</p>
								<p class='slider__new-price'>&#165;8,000</p>
							</div>
						</div>
					</div>
				</article>
				<article class='swiper-slide slider__item'>
					<figure class='slider__image'>
						<img
							src='assets/slider_4.jpg'
							alt='さまざまな色をした魚が群れで泳いでいる様子'
						/>
					</figure>
					<div class='slider__body'>
						<p class='slider__label'>ファンダイビング</p>
						<h3 class='slider__title'>貸切ファンダイビング</h3>
						<div class='slider__meta'>
							<h4 class='slider__sub-title'>
								全部コミコミ(お一人様)
							</h4>
							<div class='slider__price-unit'>
								<p class='slider__old-price'>&#165;20,000</p>
								<p class='slider__new-price'>&#165;16,000</p>
							</div>
						</div>
					</div>
				</article>
				<article class='swiper-slide slider__item'>
					<figure class='slider__image'>
						<img
							src='assets/slider_1.jpg'
							alt='さまざまな色をした魚が群れで泳いでいる様子'
						/>
					</figure>
					<div class='slider__body'>
						<p class='slider__label'>ライセンス講習</p>
						<h3 class='slider__title'>ライセンス取得</h3>
						<div class='slider__meta'>
							<h4 class='slider__sub-title'>
								全部コミコミ(お一人様)
							</h4>
							<div class='slider__price-unit'>
								<p class='slider__old-price'>&#165;56,000</p>
								<p class='slider__new-price'>&#165;46,000</p>
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
		<!-- 前後の矢印 -->
		<div class='slider__button'>
			<div class='slider__nextButton slider__nextButton--md-none'></div>
			<div class='slider__prevButton slider__prevButton--md-none'></div>
		</div>
		<div class='campaign__button'>
			<button class='button' onclick="location.href='campaign.html'"
				>View&nbsp;more<span class='button__arrow'></span></button
			>
		</div>
	</div>
</section>
