---
import Nav from '@components/Nav.astro';
import Hamburger from '@components/Hamburger.astro';
import Drawer from '@components/Drawer.astro';

import Logo from '@icons/logo_1.png';
import { Image } from 'astro:assets';
---

<header class='header js-header'>
	<div class='header__inner'>
		<h1 class='header__logo'>
			<a href='./index.html'>
				<img src={Logo.src} alt='CodeUpsの文字、会社のロゴ' /></a
			>
		</h1>
		<Nav />
		<Hamburger />
		<Drawer />
	</div>
</header>

<style lang='scss'>
	@use 'src/sass/_function.scss' as *;
	@use 'src/sass/_breakpoints.scss' as *;
	@use 'src/sass/_setting.scss' as *;

	.header {
		position: fixed;
		z-index: 1000;
		width: 100%;
		height: rem(80);
		background: rgba(13, 41, 54, 0.68);
		@include mq(md) {
			height: rem(90);
		}
	}
	.header__inner {
		padding-right: rem(15);
		padding-left: rem(15);
		height: inherit;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include mq(md) {
			padding-right: rem(10);
			padding-left: rem(20);
		}
		@include mq(lg) {
			padding-right: rem(20);
			padding-left: rem(40);
		}
	}
	.header__logo {
		z-index: 9999;
	}
	.header__logo a {
		height: inherit;
		display: flex;
		align-items: center;
	}

	.header__logo img {
		width: rem(102);
		height: rem(38);
		@include mq(md) {
			width: rem(133);
			height: rem(50);
		}
	}
</style>
