---
import Button from '@/components/Button.astro';
import { buttonUrl } from '@/data/buttonUrl';
const { url } = buttonUrl[2];
---

<section class='information top-information'>
	<div class='information__inner inner'>
		<div class='information__title title title--center'>
			<p class='title__text'>information</p>
			<h2 class='title__sub-text'>ダイビング情報</h2>
		</div>
		<div class='information__container'>
			<figure class='information__image js-slideColor'>
				<img
					src='src/assets/information-pc.jpg'
					alt='海の中で黄色の魚が泳ぐ様子'
				/>
			</figure>
			<div class='information__body'>
				<div class='information__header'>
					<h3 class='information__sub-title'>ライセンス講習</h3>
				</div>
				<div class='information__meta'>
					<p class='information__text text'>
						当店はダイビングライセンス（Cカード）世界最大の教育機関PADIの「正規店」として店舗登録されています。<br
						/>正規登録店として、安心安全に初めての方でも安心安全にライセンス取得をサポート致します。
					</p>
				</div>
				<div class='information__button'>
					<Button url={url} />
				</div>
			</div>
		</div>
	</div>
</section>

<style lang='scss'>
	@use 'src/sass/_function.scss' as *;
	@use 'src/sass/_breakpoints.scss' as *;
	@use 'src/sass/_setting.scss' as *;

	.top-information {
		margin-top: rem(85);
		padding: rem(80) 0 rem(83);
		background-color: $green2;
		@include mq(md) {
			margin-top: rem(142);
			padding: rem(99) 0;
		}
	}
	.information__inner {
		max-width: rem(600);
		width: 100%;
	}
	.information__container {
		margin-top: rem(26);
		display: flex;
		flex-direction: column;
		@include mq(md) {
			margin-top: rem(40);
			flex-direction: row;
		}
	}

	.information__image {
		position: relative;
		@include mq(md) {
			max-width: calc((540 / 1080) * 100%);
			width: 100%;
		}
	}

	.information__image::before {
		content: '';
		display: block;
		padding-top: calc((227 / 345) * 100%);
		@include mq(md) {
			padding-top: calc((356 / 540) * 100%);
		}
	}

	.information__image img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.information__body {
		margin-top: rem(25);
		@include mq(md) {
			margin-top: rem(61);
			margin-left: rem(48);
			max-width: calc((492 / 1080) * 100%);
			width: 100%;
		}
	}

	.information__header {
		padding-bottom: rem(3);
		border-bottom: rem(1) solid $green;
		@include mq(md) {
			padding-bottom: rem(7);
		}
	}

	.information__sub-title {
		font-size: rem(20);
		font-family: $jp-font-family1;
		font-weight: $bold;
		line-height: calc(24 / 20);
		@include mq(md) {
			font-size: rem(24);
			line-height: calc(24 / 24);
		}
	}

	.information__meta {
		margin-top: rem(8);
	}

	.information__button {
		text-align: center;
		margin-top: rem(40);
	}
</style>
