---

---

<section class='mv'>
	<div class='mv__inner'>
		<!-- Swiper -->
		<div class='swiper mv__slider js-mv-slider'>
			<div class='swiper-wrapper mv__items'>
				<div class='swiper-slide mv__item'>
					<picture>
						<source
							srcset='assets/mv-pc_1.jpg'
							media='(min-width: 768px)'
						/>
						<img
							src='assets/mv-sp_1.jpg'
							alt='透き通った海の中で大きな亀が泳いでいる様子'
						/>
					</picture>
				</div>
				<div class='swiper-slide mv__item'>
					<picture>
						<source
							srcset='assets/mv-pc_2.jpg'
							media='(min-width: 768px)'
						/>
						<img
							src='assets/mv-sp_2.jpg'
							alt='透き通った海の中から見上げると二人のダイバーと大きな亀が対面している'
						/>
					</picture>
				</div>
				<div class='swiper-slide mv__item'>
					<picture>
						<source
							srcset='assets/mv-pc_3.jpg'
							media='(min-width: 768px)'
						/>
						<img
							src='assets/mv-sp_3.jpg'
							alt='海の向こうに２つの島が見え、近くに船が動いている様子'
						/>
					</picture>
				</div>
				<div class='swiper-slide mv__item'>
					<picture>
						<source
							srcset='assets/mv-pc_4.jpg'
							media='(min-width: 768px)'
						/>
						<img
							src='assets/mv-sp_4.jpg'
							alt='青天のなか青々とした穏やかなな波が綺麗な砂浜に注ぎ込んでいる様子'
						/>
					</picture>
				</div>
			</div>
		</div>
		<div class='mv__title'>
			<h2 class='mv__title-text'>DIVING</h2>
			<p class='mv__title-subtext'>into&nbsp;the&nbsp;ocean</p>
		</div>
	</div>
</section>
