---

---

<section class='price top-price'>
	<div class='price__inner inner'>
		<div class='prive__title title title--center'>
			<p class='title__text'>price</p>
			<h2 class='title__sub-text'>料金一覧</h2>
		</div>
		<div class='price__container'>
			<picture class='price__images js-slideColor4'>
				<source
					srcset='assets/price-pc.jpg'
					media='(min-width:768px)'
				/>
				<img
					src='assets/price-sp.jpg'
					alt='橙色の大きな亀が泳いでいる様子'
				/>
			</picture>
			<ul class='price__menu'>
				<li class='price__items'>
					<h3 class='price__header'>ライセンス講習</h3>
					<dl class='price__item'>
						<dt class='price__label'>
							オープンウォーターダイバーコース
						</dt>
						<dd class='price__text'>&#165;50&#44;000</dd>
					</dl>
					<dl class='price__item'>
						<dt class='price__label'>
							アドバンスドオープンウォーターコース
						</dt>
						<dd class='price__text'>&#165;60&#44;000</dd>
					</dl>
					<dl class='price__item'>
						<dt class='price__label'>レスキュー＋EFRコース</dt>
						<dd class='price__text'>&#165;70&#44;000</dd>
					</dl>
				</li>
				<li class='price__items'>
					<h3 class='price__header'>体験ダイビング</h3>
					<dl class='price__item'>
						<dt class='price__label'>ビーチ体験ダイビング(半日)</dt>
						<dd class='price__text'>&#165;7&#44;000</dd>
					</dl>
					<dl class='price__item'>
						<dt class='price__label'>ビーチ体験ダイビング(1日)</dt>
						<dd class='price__text'>&#165;14&#44;000</dd>
					</dl>
					<dl class='price__item'>
						<dt class='price__label'>ボート体験ダイビング(半日)</dt>
						<dd class='price__text'>&#165;10&#44;000</dd>
					</dl>
					<dl class='price__item'>
						<dt class='price__label'>ボート体験ダイビング(1日)</dt>
						<dd class='price__text'>&#165;18&#44;000</dd>
					</dl>
				</li>
				<li class='price__items'>
					<h3 class='price__header'>ファンダイビング</h3>
					<dl class='price__item'>
						<dt class='price__label'>ビーチダイビング(2ダイブ)</dt>
						<dd class='price__text'>&#165;14&#44;000</dd>
					</dl>
					<dl class='price__item'>
						<dt class='price__label'>ボートダイビング(2ダイブ)</dt>
						<dd class='price__text'>&#165;18&#44;000</dd>
					</dl>
					<dl class='price__item'>
						<dt class='price__label'>
							スペシャルダイビング(2ダイブ)
						</dt>
						<dd class='price__text'>&#165;24&#44;000</dd>
					</dl>
					<dl class='price__item'>
						<dt class='price__label'>ナイトダイビング(1ダイブ)</dt>
						<dd class='price__text'>&#165;10&#44;000</dd>
					</dl>
				</li>
				<li class='price__items'>
					<h3 class='price__header'>スペシャルダイビング</h3>
					<dl class='price__item'>
						<dt class='price__label'>貸切ダイビング(2ダイブ)</dt>
						<dd class='price__text'>&#165;24&#44;000</dd>
					</dl>
					<dl class='price__item'>
						<dt class='price__label'>1日ダイビング(3ダイブ)</dt>
						<dd class='price__text'>&#165;32&#44;000</dd>
					</dl>
				</li>
			</ul>
		</div>
		<div class='price__button'>
			<button class='button' onclick="location.href='price.html'"
				>View&nbsp;more<span class='button__arrow'></span></button
			>
		</div>
	</div>
	<figure class='price__decoration price__decoration--md-none'>
		<img src='assets/fishes-left.png' alt='魚の群れの様子' />
	</figure>
</section>
