@use 'src/sass/_function.scss' as *;
@use 'src/sass/_breakpoints.scss' as *;
@use 'src/sass/_setting.scss' as *;

.cards {
}

.cards__items {
	display: grid;
	gap: rem(40);
	@include mq(md) {
		grid-template-columns: repeat(2, 1fr);
		row-gap: rem(78);
	}
}
